html { font-size: 16px;}

body {
    width: 100%;
    max-width: 1024px;
	margin: 0 auto;
    background-color:#68C8FF;
    background-image: url("./images/IMG_1886.jpg");
    font-family: sans-serif;
}


header {
    margin: 1em;
    padding: 1.5em;
    border: 2px solid #133b59;
    background-color: #9fa090;
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
    font-family: script;
    font-size: 1.3em;
    line-height: 1.3em;
}

header img { 
    float: right;
    border: 2px solid #133b59;
    padding: 1em;
    
}

main {
    padding: 1em;
    margin: 1em;
    border: 2px solid #133b59;
    text-align: center;
    background-color: #D0CFE5;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
    
}

main p {color: #000000;}
main h2 { text-align:left;}

h1,h2,h3,h4,h5,h6 {color: #D45500;}

article {
    text-align:center;
    color: #ffffff;
    
}

article a:link {color: #ffffff;}
article a:visited { color: #D45500;}

article a:hover {color: #ffffff;}
footer {
    padding: 2em;
    margin: 1em;
    border: 2px solid #2A3E3D;
    text-align: full;
    color:#7b9c79;
}
footer a:link {color: #ffffff;}
footer a:visited { color: #D45500;}
footer a:hover {color: #ffffff;}